*{
     font-family: "Helvetica", sans-serif;
     margin: 5px;
     padding: 0px;
     background-color: silver;
}

input{
     display: inline-block;
     vertical-align: top;
     padding: 5px 10px 5px 0px;
     width: 200px;
     background-color: white;
}

button{
     display: inline-block;
     padding: 5px 10px;
     background-color: gold;
}

h2{
     margin-top: 10px;
}
