<!DOCTYPE html>
<html>
     <head>
          <meta charset="utf-8">
          <title>Survey Form Results</title>
     </head>
     <body>
          <h1>Submitted Information</h1>
          <p>Name:  <%= userInfo.userName %></p>
          <p>Dojo Location:  <%= userInfo.dojoLocation %></p>
          <p>Favorite Language:  <%= userInfo.favoriteLanguage %></p>
          <p>Comment:  <%= userInfo.userComment %></p>
     </body>
</html>
