<!DOCTYPE html>
<html>
     <head>
          <meta charset="utf-8">
          <title>New Fox</title>
     </head>
     <body>
          <h1>Add a Fancy New Fox!</h1>
          <p>Fill out the form to add a new fox:</p>
          <form action="/foxes" method="post">
               Species:
               <input type="text" name="species"><br>
               Native Regions:
               <input type="text" name="regions"><br>
               Fun Fact:
               <input type="textarea" name="fact"><br>
               <input type="submit" value="Add Fox!!"><br>
          </form>
          <a href="/">Skip to Fox Dashboard</a>
     </body>
</html>
